<h1>New game</h1>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<div class="letter">

</div>
<p>Find me in app/views/games/new.html.erb</p>
